<div class="container-fluid">
  <h1>Add Book Reservation</h1>
  <p>Fill out the information regarding this reservation</p>
    <% @reservation.errors.full_messages.each do |error| %>
      <%= error %>
    <% end %>
  <%= render 'reservation_form' %>
</div>
