<div class="container-fluid">
  <% @reservations.each do |reservation| %>
    <h4>Name: <%= link_to reservation.name, reservation_path(reservation.id)%></h4>
    <h5>Book: <%= reservation.book.name %></h5>
    <p class="well">
      Due at: <%= reservation.due_date %>
      <br>
      Returned at: <%= reservation.returned_at %>
      <br>
      <% if reservation.due_date < Date.today && reservation.returned_at == nil %>
        <span class="overdue-warning">THIS BOOK IS OVERDUE</span>
      <% end %>
    </p>
  <% end %>
</div>
